<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<html>
  <head>
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    type="text/css" rel="stylesheet"
  </head>
  <body>
    <div class="container">
      <h3 class="text-center">Messaging</h3>
      <div class="messaging">
        <div class="inbox_msg">
          <div class="inbox_people">
            <div class="headind_srch">
              <div class="recent_heading">
                <h4>Friends</h4>
              </div>
              <div class="srch_bar">
                <div class="stylish-input-group">
                  <input type="text" class="search-bar" placeholder="Search" />
                  <span class="input-group-addon">
                    <button type="button">
                      <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                  </span>
                </div>
              </div>
            </div>
            <div class="inbox_chat">
              <div
                class="chat_list active_chat"
                *ngFor="let friend of friendList"
              >
                <button (click)="onSelect(friend)">
                  <div class="chat_people">
                    <div class="chat_img">
                      <img
                        src="https://ptetutorials.com/images/user-profile.png"
                        alt="dp"
                      />
                    </div>
                    <div class="chat_ib">
                      <h5>
                        {{ friend.username }}
                        <span class="chat_date">Dec 25</span>
                      </h5>
                      <p>
                        Fetch last mes from api.
                      </p>
                    </div>
                  </div>
                </button>
              </div>
            </div>
          </div>

          <div class="mesgs">
            <div *ngIf="parentVariable.toUser">
              <app-message-box [user]="parentVariable"></app-message-box>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
