<label for="query">Enter Name</label>

<input type="text" name="query" [(ngModel)]="query" (input)="search()" />

<table class="table">
  <thead>
    <tr>
      <th>Name</th>

      <th>Add User</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.username }}</td>
      <td>
        <button class="btn btn-primary" (click)="addFriend(user.id)">
          Add Friend
        </button>
      </td>
    </tr>
  </tbody>

  <tfoot>
    <tr>
      <td
        class="text-center"
        st-pagination=""
        st-items-by-page="10"
        colspan="4"
      ></td>
    </tr>
  </tfoot>
</table>
